@model ComapnyModel

@{
    ViewData["Title"] = "Dividend History";
}

<div class="d-flex flex-column-fluid pt-5 pt-lg-10">
    <div class="container-fluid">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="p-8">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="mr-3">
                                    <span class="d-flex align-items-center text-dark text-hover-primary font-size-h2 font-weight-bolder mr-3"> @Model.Name <i class="flaticon2-correct text-success icon-md ml-2"></i> </span>
                                    <div class="d-flex flex-wrap my-2">
                                        <span class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"> @Model.Code </span>
                                    </div>
                                </div>
                                <div class="my-lg-0 my-1">
                                    <a asp-action="Registers" class="btn btn-sm btn-default font-weight-bolder text-uppercase">Back</a>
                                </div>
                            </div>
                            @*<div class="pt-10">
                                    <div class="d-flex flex-wrap">
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mr-6 mb-3">
                                            <div class="d-flex align-items-center">
                                                <span class="svg-icon svg-icon-3 svg-icon-success mr-2"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <polygon points="0 0 24 0 24 24 0 24"></polygon> <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1"></rect> <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path> </g> </svg> </span>
                                                <div class="font-size-2 font-weight-bolder counted" data-kt-countup="true" data-kt-countup-value="@Model.Gross">@Model.Gross.ToString("N2")</div>
                                            </div>
                                            <div class="font-weight-bold font-size-6 text-gray-400">Gross</div>
                                        </div>
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mr-6 mb-3">
                                            <div class="d-flex align-items-center">
                                                <span class="svg-icon svg-icon-3 svg-icon-danger mr-2"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <polygon points="0 0 24 0 24 24 0 24"></polygon> <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1"></rect> <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)"></path> </g> </svg> </span>
                                                <div class="font-size-2 font-weight-bolder counted" data-kt-countup="true" data-kt-countup-value="@Model.Tax">@Model.Tax.ToString("N2")</div>
                                            </div>
                                            <div class="font-weight-bold font-size-6 text-gray-400">Tax</div>
                                        </div>
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mr-6 mb-3">
                                            <div class="d-flex align-items-center">
                                                <span class="svg-icon svg-icon-3 svg-icon-success mr-2"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <polygon points="0 0 24 0 24 24 0 24"></polygon> <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1"></rect> <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path> </g> </svg> </span>
                                                <div class="font-size-2 font-weight-bolder counted" data-kt-countup="true" data-kt-countup-value="@Model.Net">@Model.Net.ToString("N2")</div>
                                            </div>
                                            <div class="font-weight-bold font-size-6 text-gray-400">Net</div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                Dividend History
                                <span class="d-block text-muted pt-2 font-size-sm">Datatable initialized from HTML table</span>
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline mr-2">
                                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24" height="24" /> <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" /> <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" /> </g> </svg> </span>Export</button>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <ul class="navi flex-column navi-hover py-2">
                                        <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link"> <span class="navi-icon"> <i class="la la-print"></i> </span> <span class="navi-text">Print</span> </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link"> <span class="navi-icon"> <i class="la la-copy"></i> </span> <span class="navi-text">Copy</span> </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link"> <span class="navi-icon"> <i class="la la-file-excel-o"></i> </span> <span class="navi-text">Excel</span> </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link"> <span class="navi-icon"> <i class="la la-file-text-o"></i> </span> <span class="navi-text">CSV</span> </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link"> <span class="navi-icon"> <i class="la la-file-pdf-o"></i> </span> <span class="navi-text">PDF</span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-7">
                            <div class="row align-items-center">
                                <div class="col-lg-9 col-xl-8">
                                    <div class="row align-items-center">
                                        <div class="col-md-4 my-2 my-md-0">
                                            <div class="input-icon">
                                                <input type="search" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                                <span> <i class="flaticon2-search-1 text-muted"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th title="Field #1">Payment No</th>
                                    <th title="Field #2">Year End</th>
                                    <th title="Field #3">Pay Date</th>
                                    <th title="Field #4">Declared</th>
                                    <th title="Field #5">Closure</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var itm in Model.Items)
                            {
                                <tr>
                                    <td><span class="h6">@itm.PaymentNo</span></td>
                                    <td><span class="h6">@itm.YearEnd.ToString("yyy-MM-dd")</span></td>
                                    <td><span class="h6">@itm.Date.ToString("yyy-MM-dd")</span></td>
                                    <td><span class="h6">@itm.Amount.ToString("N2")</span></td>
                                    <td><span class="h6">@itm.Closure.ToString("yyy-MM-dd")</span></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/pages/register.js" asp-append-version="true"></script>
}